<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sparrow Lane Zoological Center</title>
    <link rel="stylesheet" type="text/css" href="/css/app.css" />
    <script src="/app.js" id="data" type="application/json"></script>

<body>
    <header>
        <h1>Sparrow Lane Zoological Center</h1>
    </header>
    <nav>
        [
        <a href="index.hbs">Home</a>
        |
        <a href="employees.hbs">Employees</a>
        |
        <a href="animals.hbs">Animals</a>
        |
        <a href="species.hbs">Species</a>
        |
        <a href="budgets.hbs">Budgets</a>
        |
        <a href="admissions.hbs">Admissions</a>
        |
        <a href="habitat.hbs">Habitat Enclosures</a>
        |
        <a href="foodsupplies.hbs">Food and Supplies</a>
        |
        <a href="foodsuppliesperanimal.hbs">Food and Supplies Per Animal</a>
        ]
    </nav>
    <main>
        <section>
            <h2>Admissions</h2>
            <p>Manage admissions for Sparrow Lane Zoological Center</p>
            <table id="admissions-table" border=".5" cellpadding="5">
                <thead>
                    <tr>
                        <th>Admission ID</th>
                        <th>Total</th>
                        <th>Ticket Price</th>
                        <th>Description</th>
                        <th>Delete Admission</th>
                    </tr>

                </thead>

                <tbody>

                    {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
                    {{#each data}}
                    <tr>
                        <td>{{this.admissionID}}</td>
                        <td>{{this.admissionTotal}}</td>
                        <td>{{this.ticketPrice}}</td>
                        <td>{{this.description}}</td>
                        <td><button onclick="deleteAdmission({{this.admissionID}})">Delete</button></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            <script src="./js/delete_admission.js"></script>


            <!-- Searching Admissions-->
            <div>
                <h3>Search Admissions </h3>
                <form id="search-admission-html" method="GET">
                    <label for="input-admissionID">Admission ID: </label>
                    <input type="text" name="admissionID" id="input-admissionID-html-search">
                    <input type="submit">
                    <a href='/admissions.hbs'><button>Reset</button></a>

                </form>
            </div>



            <div>
                <h3>Add Admissions</h3>
                <form method="POST" id="createAdmissions">
                    <label for="input-admissionTotal">Admission Total: </label>
                    <input type="number" name="input-admissionTotal" id="input-admissionTotal" required>
                    <label for="input-ticketPrice">Ticket Price: </label>
                    <input type="number" name="input-ticketPrice" id="input-ticketPrice" required>
                    <label for="input-description">Description: </label>
                    <input type="text" name="input-description" id="input-description">
                    <input type="submit">
                </form>
                <script src="./js/add_admissions.js"></script>
            </div>


            <h2>Updating Admissions</h2>
            <p>To update admission details, select the admission ID from the drop-down menu and provide the new values
                in the fields</p>
            <form id="update-admissions-form-ajax">

                <label for="admissionID">Admission ID: </label>
                <select name="admissionID" id="admissionID">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>

                </select>

                <label for="admissionTotal">Admission Total: </label>
                <input type="number" name="admissionTotal" id="admissionTotal" required>

                <label for="ticketPrice">Ticket Price: </label>
                <input type="number" name="ticketPrice" id="ticketPrice" required>

                <label for="description">Description: </label>
                <input type="text" name="description" id="description">

                <input type="submit" value="Update">

            </form>

            <script src="./js/update_admissions.js"></script>


        </section>
    </main>
    <footer>
        <p>&copy; 2023 Ashley Quarford and Tyler Gebel</p>
    </footer>
</body>

</html>