<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sparrow Lane Zoological Center</title>
  <link rel="stylesheet" type="text/css" href="/css/app.css" />
  <script src="/app.js" id="data" type="application/json"></script>
</head>

<body>
  <header>
    <h1>Sparrow Lane Zoological Center</h1>
  </header>
  <nav>
    [
    <a href="index.hbs">Home</a>
    |
    <a href="employees.hbs">Employees</a>
    |
    <a href="animals.hbs">Animals</a>
    |
    <a href="species.hbs">Species</a>
    |
    <a href="budgets.hbs">Budgets</a>
    |
    <a href="admissions.hbs">Admissions</a>
    |
    <a href="habitat.hbs">Habitat Enclosures</a>
    |
    <a href="foodsupplies.hbs">Food and Supplies</a>
    |
    <a href="foodsuppliesperanimal.hbs">Food and Supplies Per Animal</a>
    ]
  </nav>
  <main>
    <h2>Animals</h2>
    <p>Manage Animals for Sparrow Lane Zoological Center</p>
    <table id="animals-table" border=".5" cellpadding="5">
      <thread>
        <tr>
          <th>Animal ID</th>
          <th>Animal Name</th>
          <th>Description</th>
          <th>Species</th>
          <th>Habitat</th>
          <th>Delete Animal</th>
        </tr>
      </thread>
      <tbody>

        {{#each data}}
        <tr data-value={{this.animalID}}>
          <td>{{this.animalID}}</td>
          <td>{{this.animalName}}</td>
          <td>{{this.description}}</td>
          <td>{{this.speciesName}}</td>
          <td>{{this.habitatDescription}}</td>
          <td><button onclick="deleteStaff({{this.animalID}})">Delete</button></td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    <script src="./js/delete_animal.js"></script>
    </div>



    <!-- Searching Animals-->
    <div>
      <h3>Search Animals </h3>
      <form id="search-animal-html" method="GET">
        <label for="input-animalID">Name: </label>
        <input type="text" name="animalName" id="input-animalName-html-search">
        <input type="submit">
        <a href='/animals.hbs'><button>Reset</button></a>

      </form>
    </div>




    <div>
      <h3>Add Animals</h3>
      <form id="add-animal-form-ajax">
        <label for="input-animalName">Animal Name: </label>
        <input type="text" name="input-animalName" id="input-animalName" required>

        <label for="input-description">Description: </label>
        <input type="text" name="input-description" id="input-description">

        <label for="input-species">Species: </label>
        <select name="input-species" id="input-species" required>
          <option value="">Select</option>
          {{#each species}}
          <option value="{{this.speciesID}}">{{this.speciesName}}</option>
          {{/each}}
        </select>

        <label for="input-habitat">Habitat: </label>
        <select name="input-habitat" id="input-habitat" required>
          <option value="">Select</option>
          {{#each habitat}}
          <option value="{{this.habitatID}}">{{this.description}}</option>
          {{/each}}
        </select>
        <input type="submit">
      </form>
      <script src="./js/add_animal.js"></script>

    </div>


    <div>
      <h3>Edit an Animal</h3>
      <form method="POST" id="editAnimal">
        <label for="input-animalID">Animal ID: </label>
        <select name="input-animalID" id="input-animalID-ajax">
          <option value="">Select</option>
          {{#each animalIDs}}
          <option value="{{this}}">{{this}}</option>
          {{/each}}
        </select>
        <label for="input-animalName">Animal Name: </label>
        <input type="text" name="input-animalName" id="input-animalName" required>

        <label for="input-description">Description: </label>
        <input type="text" name="input-description" id="input-description">

        <label for="input-species">Species: </label>
        <select name="input-species" id="input-species" required>
          <option value="">Select</option>
          {{#each species}}
          <option value="{{this.speciesID}}">{{this.speciesName}}</option>
          {{/each}}
        </select>

        <label for="input-habitat">Habitat: </label>
        <select name="input-habitat" id="input-habitat" required>
          <option value="">Select</option>
          {{#each habitat}}
          <option value="{{this.habitatID}}">{{this.description}}</option>
          {{/each}}
        </select>
        <input type="submit">
      </form>
      <script src="./js/add_animal.js"></script>

    </div>
  </main>
  <footer>
    <p>&copy; 2023 Ashley Quarford and Tyler Gebel</p>
  </footer>
</body>

</html>