<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sparrow Lane Zoological Center</title>
  <link rel="stylesheet" type="text/css" media="screen" href="public/css/app.css" />
  <script src="main.js"></script>
</head>

<body>
  <header>
    <h1>Sparrow Lane Zoological Center</h1>
  </header>
  <nav>
    [
    <a href="index.hbs">Home</a>
    |
    <a href="employees.hbs">Employees</a>
    |
    <a href="animals.hbs">Animals</a>
    |
    <a href="species.hbs">Species</a>
    |
    <a href="budgets.hbs">Budgets</a>
    |
    <a href="admissions.hbs">Admissions</a>
    |
    <a href="habitat.hbs">Habitat Enclosures</a>
    |
    <a href="foodsupplies.hbs">Food and Supplies</a>
    |
    <a href="foodsuppliesperanimal.hbs">Food and Supplies Per Animal</a>
    ]
  </nav>
  <main>
    <h2>Budgets</h2>
    <p>Manage budgets for Sparrow Lane Zoological Center</p>
    <table id="budget-table" border=".5" cellpadding="5">
      <thread>
        <tr>
          <th>Budget ID</th>
          <th>Amount</th>
          <th>Employee Wages</th>
          <th>Habitat Monthly Upkeep</th>
          <th>Admission Price</th>
        </tr>
      </thread>
      <tbody>
        {{#each data}}
        <tr data-value={{this.budgetID}}>
          <td>{{this.budgetID}}</td>
          <td>{{this.budgetAmount}}</td>
          <td>{{this.hourlyWage}}</td>
          <td>{{this.monthlyUpkeep}}</td>
          <td>{{this.ticketPrice}}</td>
          <td><button onclick="deleteBudget({{this.budgetID}})">Delete</button></td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    <script src="./js/delete_budget.js"></script>




    <!-- Searching Budgets-->
    <div>
      <h3>Search Budgets </h3>
      <form id="search-budgets-html" method="GET">
        <label for="input-budgetAmount">Budget Amount: </label>
        <input type="text" name="budgetAmount" id="input-budgetAmount-html-search">
        <input type="submit">
        <a href='/budgets.hbs'><button>Reset</button></a>

      </form>
    </div>




    <div>
      <h3>Create a Budget</h3>
      <form method="POST" id="createBudget">
        <label for="input-budgetAmount">Budget Amount: </label>
        <input type="text" name="input-budgetAmount" id="input-budgetAmount" required>

        <label for="input-employeeWages">Employee Wages: </label>
        <select name="input-employeeWages" id="input-employeeWages-ajax">
          <option value="">Select Wage:</option>
          {{#each employee}}
          <option value="{{this.employeeID}}">{{this.hourlyWage}}</option>
          {{/each}}
        </select>

        <label for="input-habitatUpkeep">Habitat Monthly Upkeep: </label>
        <select name="input-habitatUpkeep" id="input-habitatUpkeep-ajax">
          <option value="">Select:</option>
          {{#each habitat}}
          <option value="{{this.habitatID}}">{{this.monthlyUpkeep}}</option>
          {{/each}}
        </select>

        <label for="input-admissionPrice">Admission Price: </label>
        <select name="input-admissionPrice" id="input-admissionPrice-ajax">
          <option value="">Select:</option>
          {{#each admission}}
          <option value="{{this.admissionID}}">{{this.ticketPrice}}</option>
          {{/each}}
        </select>
        <input type="submit">
      </form>
      <script src="./js/add_budget.js"></script>
    </div>




    <div>
      <h3>Edit a Budget</h3>
      <form method="POST" id="editBudget">
        <table>
          <tbody>
            <tr>
              <td><label for="budgetID">Budget ID:</label></td>
              <td><select name="budgetID">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                </select></td>
            </tr>
            <tr>
              <td><label for="budgetAmount">Budget Amount:</label></td>
              <td><input type="text" name="budgetAmount" id="budgetAmount" /></td>
            </tr>
            <tr>
              <td><input type="submit" value="Edit" /></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
    <div>
  </main>
  <footer>
    <p>&copy; 2023 Ashley Quarford and Tyler Gebel</p>
  </footer>
</body>

</html>