<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sparrow Lane Zoological Center</title>
    <link rel="stylesheet" type="text/css" media="screen" href="public/css/app.css" />
    <script src="main.js"></script>
</head>

<body>
    <header>
        <h1>Sparrow Lane Zoological Center</h1>
    </header>
    <nav>
        [
        <a href="index.hbs">Home</a>
        |
        <a href="employees.hbs">Employees</a>
        |
        <a href="animals.hbs">Animals</a>
        |
        <a href="species.hbs">Species</a>
        |
        <a href="budgets.hbs">Budgets</a>
        |
        <a href="admissions.hbs">Admissions</a>
        |
        <a href="habitat.hbs">Habitat Enclosures</a>
        |
        <a href="foodsupplies.hbs">Food and Supplies</a>
        |
        <a href="foodsuppliesperanimal.hbs">Food and Supplies Per Animal</a>
        ]
    </nav>
    <main>
        <section>
            <h2>Food and Supplies</h2>
            <p>Manage food and supplies for Sparrow Lane Zoological Center</p>
            <table id="foodsupplies-table" border=".5" cellpadding="5">
                <thread>
                    <tr>
                        <th>Item ID</th>
                        <th>Item Name</th>
                        <th>Quantity</th>
                        <th>Price</th>
                    </tr>
                </thread>
                <tbody>

                    {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
                    {{#each data}}
                    <tr>
                        <td>{{this.itemID}}</td>
                        <td>{{this.itemName}}</td>
                        <td>{{this.quantity}}</td>
                        <td>{{this.price}}</td>
                        <td><button onclick="deleteFoodsupplies({{this.itemID}})">Delete</button></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            <script src="./js/delete_foodsupplies.js"></script>


            <div>
                <h3>Search Food and Supplies</h3>
                <form id="search-foodsupplies-html" method='GET'>
                    <label for="input-itemName">Search by Item Name: </label>
                    <input type="text" name="itemName" id="input-itemName-html-search">

                    <input type="submit">
                    <a href='/foodsupplies.hbs'><button>Reset</button></a>
                </form>
            </div>


            <div>
                <h3>Add Food and Supplies</h3>
                <form method="POST" id="addFoodSupplies">
                    <label for="input-itemName">Item Name: </label>
                    <input type="text" name="input-itemName" id="input-itemName" required>
                    <label for="input-quantity">Quantity: </label>
                    <input type="text" name="input-quantity" id="input-quantity" required>
                    <label for="input-price">Price: </label>
                    <input type="text" name="input-price" id="input-price" required>
                    <input type="submit">
                </form>
                <script src="./js/add_food_supplies.js"></script>
            </div>

            <div>
                <h3>Edit Food and Supplies</h3>
                <form>
                    <table>
                        <tbody>
                            <tr>
                                <td>Item ID:</td>
                                <td> <select name="itemID">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3" selected>3</option>
                                </td>
                            </tr>
                            <tr>
                                <td>Item Name:</td>
                                <td><input type="text" name="itemName" /></td>
                            </tr>
                            <tr>
                                <td>Quantity:</td>
                                <td><input type="text" name="quantity" /></td>
                            </tr>
                            <tr>
                                <td>Price:</td>
                                <td><input type="text" name="price" /></td>
                            </tr>
                            <tr>
                                <td><input type="submit" value="Edit" /></td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2023 Ashley Quarford and Tyler Gebel</p>
    </footer>
</body>

</html>