<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sparrow Lane Zoological Center</title>
    <link rel="stylesheet" type="text/css" href="/css/app.css" />
    <script src="/app.js" id="data" type="application/json"></script>
</head>

<body>
    <header>
        <h1>Sparrow Lane Zoological Center</h1>
    </header>
    <nav>
        [
        <a href="index.hbs">Home</a>
        |
        <a href="employees.hbs">Employees</a>
        |
        <a href="animals.hbs">Animals</a>
        |
        <a href="species.hbs">Species</a>
        |
        <a href="budgets.hbs">Budgets</a>
        |
        <a href="admissions.hbs">Admissions</a>
        |
        <a href="habitat.hbs">Habitat Enclosures</a>
        |
        <a href="foodsupplies.hbs">Food and Supplies</a>
        |
        <a href="foodsuppliesperanimal.hbs">Food and Supplies Per Animal</a>
        ]
    </nav>
    <main>
        <section>
            <h2>Habitat Enclosures</h2>
            <p>Manage habitat enclosures for Sparrow Lane Zoological Center</p>
            <table id="habitat-table" border=".5" cellpadding="5">
                <thread>
                    <tr>
                        <th>Habitat ID</th>
                        <th>Monthly Upkeep</th>
                        <th>Capacity</th>
                        <th>Description</th>
                        <th>Delete Habitat</th>
                    </tr>

                </thread>
                <tbody>
                    {{#each data}}
                    <tr {{this.habitatID}}>
                        <td>{{this.habitatID}}</td>
                        <td>{{this.monthlyUpkeep}}</td>
                        <td>{{this.capacity}}</td>
                        <td>{{this.description}}</td>
                        <td><button onclick="deleteHabitat({{this.habitatID}})">Delete</button></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            <script src="./js/delete_habitat.js"></script>



            <div>
                <h3>Search Habitat</h3>
                <form id="search-habitat-html" method='GET'>
                    <label for="input-description">Search by Description: </label>
                    <input type="text" name="description" id="input-description-html-search">

                    <input type="submit">
                    <a href='/habitat.hbs'><button>Reset</button></a>
                </form>
            </div>

            <div>
                <h3>Add a Habitat Enclosure</h3>
                <form method="POST" id="addHabitat">
                    <label for="input-monthlyUpkeep">Monthly Upkeep: </label>
                    <input type="number" name="input-monthlyUpkeep" id="input-monthlyUpkeep" required>
                    <label for="input-capacity">Capacity: </label>
                    <input type="number" name="input-capacity" id="input-capacity" required>
                    <label for="input-habitatdescription">Description: </label>
                    <input type="text" name="input-habitatdescription" id="input-habitatdescription">
                    <input type="submit">
                </form>
                <script src="./js/add_habitat.js"></script>
            </div>

            <div>
                <h3>Edit a Habitat Enclosure</h3>
                <form>
                    <label for="input-habitatID">Habitat ID: </label>
                    <select name="input-habitatID" id="input-habitatID-ajax">
                        <option value="">Select</option>
                        {{#each habitatIDs}}
                        <option value="{{this}}">{{this}}</option>
                        {{/each}}
                    </select>
                    <label for="input-monthlyUpkeep">Monthly Upkeep: </label>
                    <input type="number" name="input-monthlyUpkeep" id="input-monthlyUpkeep" required>
                    <label for="input-capacity">Capacity: </label>
                    <input type="number" name="input-capacity" id="input-capacity" required>
                    <label for="input-description">Description: </label>
                    <input type="text" name="input-description" id="input-description">
                    <input type="submit">
                </form>
            </div>

        </section>
    </main>
    <footer>
        <p>&copy; 2023 Ashley Quarford and Tyler Gebel</p>
    </footer>
</body>

</html>