<!-- index.hbs -->
<h1>The server is running!</h1>
<p>If you see this text, the server is <strong>definitely</strong> working!</p>

{{!-- Create a table --}}
<table id="employee-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr data-value={{this.employeeID}}>
            <td>{{this.employeeID}}</td>
            <td>{{this.firstName}}</td>
            <td>{{this.lastName}}</td>
            <td>{{this.phoneNum}}</td>
            <td>{{this.hourlyWage}}</td>
            <td>{{this.workEmail}}</td>
            <td><button onclick="deleteEmployee({{this.employeeID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_employee.js"></script>

<!-- /views/index.hbs -->

<h2>Search Employees</h2>
<p>Search by last name using the field below. Partial last names are OK too!</p>
<form id="search-employee-html" method='GET' action='/'>
    <label for="input-lname">Search by Last Name: </label>
    <input type="text" name="lastName" id="input-lastName-html-search">

    <input type="submit">
    <a href='/'><button>Reset</button></a>
</form>


{{!-- Form to add a record to the table --}}
<h2>Adding Employee</h2>
<p>To add a new employee, please enter their information below and click 'Submit'!</p>
<form id="add-employee-form-ajax">
    <label for="input-firstName">First Name: </label>
    <input type="text" name="input-firstName" id="input-firstName">

    <label for="input-lastName">Last Name: </label>
    <input type="text" name="input-lastName" id="input-lastName">

    <label for="input-phoneNum">Phone Number: </label>
    <input type="number" name="input-phoneNum" id="input-phoneNum">

    <label for="input-hourlyWage">Hourly Wage: </label>
    <input type="number" name="input-hourlyWage" id="input-hourlyWage">

    <label for="input-workEmail">Work Email: </label>
    <input type="text" name="input-workEmail" id="input-workEmail">


    <input type="submit">
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_employee.js"></script>